.navbar-brand {
  font-weight: bold;
}

.navbar-link {
  font-size: 1.1rem; /* Adjust the font size according to your design */
}
.navbar-link.active {
  border: 2px solid white !important;
  border-radius: 15px;
}
.bg-color {
  background-color: darkblue !important;
}
.navbar-link {
  padding: 5px 20px !important;
  text-decoration: none;
}
#navbar-title {
  color: white;
  margin: 0;
}
