<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Search Navbar</title>
  <style>
    .navbar-custom {
      background-color: #1E0A8C;
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-nav .navbar-link {
      color: #ffffff;
    }

    .navbar-custom .nav-item.active .navbar-link {
      color: #D0C9FF;
      border-bottom: 3px solid #D0C9FF;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-custom navbar-dark bg-color">
    <div class="container">
      <a class="navbar-brand" id="navbar-title">Stock Search</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto ms-auto">
          <li>
            <a class="navbar-link" routerLink="search/home" routerLinkActive="active">Search <span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" routerLink="watchlist" routerLinkActive="active">Watchlist</a>
          </li>
          <li class="nav-item">
            <a class="navbar-link" routerLink="portfolio" routerLinkActive="active">Portfolio</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Include Bootstrap JS and its dependencies below, if not included already -->

</body>

</html>