<div *ngIf="stockInfo" class="stock-details-layout">
    <div class="company-info-column">
        <p>{{stockInfo?.company?.ticker }}</p>
        <p>{{ stockInfo?.company?.name }}</p>
        <p>{{ stockInfo?.company?.exchange }}</p>
    </div>

    <div class="logo-column">
        <img [src]="stockInfo?.company?.logo" alt="Company Logo">
    </div>

    <!-- Stock Price Column -->
    <div class="stock-price-column">
        <p>{{ stockInfo?.price?.c }}</p>
        <p>{{ stockInfo?.price?.d }}</p>
        <p>{{ stockInfo?.price?.dp }}</p>
        <p>{{ stockInfo?.price?.t }}</p>
    </div>

</div>