<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 70vh; width: 100%;">
    <div class="spinner-border" style="width: 3rem; height: 3rem; color: darkblue" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="stockInfo && !isLoading" class="container stock-details-layout">
    <div *ngIf="displayAddedToWatchlistAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        <div class="d-flex align-items-center">
            <span>{{stockSymbol.toUpperCase()}} added to Watchlist.</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div *ngIf="displaySellAlert" class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ stockSymbol }} sold successfully.
        <button type="button" class="btn-close" (click)="displaySellAlert = false"></button>
    </div>
    <div *ngIf="displayBuyAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        {{ stockSymbol }} bought successfully.
        <button type="button" class="btn-close" (click)="displayBuyAlert = false"></button>
    </div>
    <div class="row">
        <!-- Company Info Column -->
        <div class="col-12 col-sm-4">
            <div class="company-info-column">
                <p>{{stockInfo?.companyInfo?.ticker }}<i class="bi"
                        [ngClass]="{'bi-star': !isPresentInWatchlist, 'bi-star-fill text-warning': isPresentInWatchlist}"
                        (click)="toggleWatchlistEntry()"></i></p>
                <p>{{ stockInfo?.companyInfo?.name }}</p>
                <p>{{ stockInfo?.companyInfo?.exchange }}</p>
                <div class="d-grid gap-2 d-sm-block">
                    <button class="btn btn-success" type="button" (click)="openBuyModal()">Buy</button>
                    <button class="btn btn-danger" type="button" *ngIf="isPresentInPortfolio" (click)="openSellModal()">Sell</button>
                </div>
            </div>
        </div>

        <!-- Logo Column -->
        <div class="col-12 col-sm-4">
            <div class="logo-column text-center">
                <img [src]="stockInfo?.companyInfo?.logo" alt="Company Logo" class="img-fluid"
                    style="width: 30%; height: 30%;">
                <p [ngClass]="{'text-green': !isMarketOpen$, 'text-red': isMarketOpen$}">{{ marketStatusString }}</p>
            </div>
        </div>

        <!-- Stock Price Column -->
        <div class="col-12 col-sm-4">
            <div class="stock-price-column">
                <p [ngClass]="{'text-green': direction, 'text-red': !direction}">{{ stockInfo?.stockPriceDetails?.c }}
                </p>

                <p [ngClass]="{'text-green': direction, 'text-red': !direction}">
                    <i class="bi" [ngClass]="{'bi-caret-up-fill': direction, 'bi-caret-down-fill': !direction}"></i>
                    {{ stockInfo?.stockPriceDetails?.d }} {{ changePercentage }}
                </p>
                <p>{{ dateTimestamp}}</p>
            </div>
        </div>
    </div>
    <app-tabs *ngIf="showTabs" [stockInfo$]="stockInfo$" [isMarketOpen$]="isMarketOpen$" [stockSymbol]="stockSymbol"
        [searchStock]="searchStock.bind(this)"></app-tabs>

</div>