<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="text-center mb-4">
                <h2>STOCK SEARCH</h2>
            </div>
            <div class="input-group" matAutocompleteOrigin #origin="matAutocompleteOrigin">
                <input type="text" class="form-control" placeholder="Enter stock ticker symbol" aria-label="Search"
                    [formControl]="stockFormControl" [matAutocomplete]="auto" [matAutocompleteConnectedTo]="origin"
                    (keydown.enter)="searchStock()" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" (click)="searchStock()">
                        <i class="fa fa-search"></i>
                    </button>
                    <button class="btn btn-outline-secondary" type="button" (click)="clearSearchResults()">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchStock($event)">
                    <mat-option *ngIf="(isAutocompleteLoading | async) && !(filteredOptions | async)?.length">
                        <mat-progress-spinner mode="indeterminate" diameter="20"></mat-progress-spinner>
                    </mat-option>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{ option
                        }}</mat-option>
                </mat-autocomplete>
            </div>
        </div>
    </div>
</div>
<app-stock-details *ngIf="stockInfo" [stockInfo]="stockInfo" [stockSymbol]="selectedStockSymbol"
    [searchStock]="searchStock.bind(this)"></app-stock-details>