<div class="modal-header">
    <h5 class="modal-title">{{ stocksymbol }}</h5>
    <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-0">Current Price: {{ currentPrice }}</p>
            </div>
            <div class="col-12 mb-2">
                <p class="mb-0">Money in Wallet: {{ oldWalletMoney | currency}}</p>
            </div>
            <div class="row mb-2 align-items-center">
                <div class="col-auto">
                    <label for="quantity" class="col-form-label">Quantity:</label>
                </div>
                <div class="col">
                    <input type="number" id="quantity" class="form-control" [(ngModel)]="quantity" (ngModelChange)="checkFunds()">
                </div>
                <div class="col-12 mt-2">
                    <div *ngIf="notEnoughMoneyError" class="text-danger">
                        Not enough money in wallet!
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row w-100">
        <div class="col text-start">
            <p class="mb-0">Total: {{ getTotal() }}</p>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" [disabled]="notEnoughMoneyError"
                (click)="buyStock()">Buy</button>
        </div>
    </div>
</div>