<div class="modal-header">
    <h5 class="modal-title">{{ stocksymbol }}</h5>
    <button type="button" class="close" aria-label="Close" data-bs-dismiss="modal"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-2">
                <p class="mb-0">Current Price: <strong>{{ currentPrice }}</strong></p>
            </div>
            <div class="col-12 mb-2">
                <p class="mb-0">Money in Wallet: <strong>{{ oldWalletMoney | currency}}</strong></p>
            </div>
            <div class="col-12 mb-2">
                <label for="quantity">Quantity:</label>
                <input type="number" class="form-control" [(ngModel)]="quantity" (ngModelChange)="checkFunds()">
                <div *ngIf=" notEnoughMoneyError" class="text-danger">
                    Not enough money in wallet!
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

    <div class="col-12">
        <p class="mb-0">Total: <strong>{{ getTotal() }}</strong></p>
    </div>
    <button type="button" class="btn btn-success" data-bs-dismiss="modal" [disabled]="notEnoughMoneyError"
        (click)="buyStock()">Buy</button>
</div>