<div class="container  mt-4 px-md-5">
    <h3 class=" fs-1 mb-4">My Watchlist</h3>
    <div class="row">
        <!-- <div *ngIf="(showEmptyWatchlistMessage | async)" class="alert alert-warning alertStyle" role="alert">
            <p>Currently you don't have any stock in your watchlist.</p>
        </div> -->

        <div *ngIf="isLoading" class="d-flex justify-content-center loading-spinner  align-items-center"
            style="height: 70vh; width: 100%;">
            <div class="spinner-border m-5" role="status" style="width: 3rem; color: darkblue; height: 3rem;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div *ngIf="!isLoading && watchlistInfo && watchlistInfo.length === 0" class="alert alert-warning text-center"
            role="alert">
            Currently you don't have any stock in your watchlist.
        </div>
        <div class="row">
            <div *ngIf="true" class="col-12">
                <div *ngIf="(watchlistInfo && watchlistInfo.length > 0)">

                    <div *ngFor="let watchlistRecord of watchlistInfo; let i = index" class="card mb-3"
                        (click)="searchStock(watchlistRecord.symbol)" style="cursor: pointer;">
                        <div class=" card-body d-flex justify-content-between align-items-center">
                            <div class="container">
                                <div class="row py-1 m-1">
                                    <button class="btn-close align-self-start" style="width: 0px; height: 0px"
                                        aria-label="Remove"
                                        (click)="removeFromWatchlist(watchlistRecord.symbol);  $event.stopPropagation();"></button>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h4>{{ watchlistRecord.symbol }}</h4>
                                        <h6 class="mt-0">{{ watchlistRecord.companyName }}</h6>
                                    </div>
                                    <div class="col">
                                        <h5 class="card-title"
                                            [ngClass]="{'text-success': watchlistRecord.changeAmount > 0, 'text-danger': watchlistRecord.changeAmount < 0}">
                                            {{ watchlistRecord.stockPrice }}</h5>
                                        <p [ngClass]="{'text-green': direction, 'text-red': !direction}"
                                            [ngClass]="{'text-success': watchlistRecord.changeAmount > 0, 'text-danger': watchlistRecord.changeAmount < 0}">

                                            <i class="bi"
                                                [ngClass]="{'bi-caret-up-fill': watchlistRecord.changeAmount > 0, 'bi-caret-down-fill': watchlistRecord.changeAmount < 0}"></i>
                                            {{ watchlistRecord.changeAmount }} ({{
                                            (watchlistRecord.changePercentage).toFixed(2)
                                            }}%)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <ng-template ngIf="showEmptyWatchlistMessage">
            <div class="alert alert-warning alertStyle" role="alert">
                Currently you don't have any stock in your watchlist.
            </div>
        </ng-template> -->
    </div>
</div>