<!-- <div class="news-container">
    <mat-card *ngFor="let newsItem of news" class="news-card">
        <mat-card-header>
            <mat-card-title>{{ newsItem.title }}</mat-card-title>
            <mat-card-subtitle>{{ newsItem.source }} - {{ newsItem.datetime | date }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="newsItem.image" alt="news image">
        <mat-card-content>
            <p>{{ newsItem.summary }}</p>
        </mat-card-content>
        <mat-card-actions>
            <a mat-button href="{{ newsItem.url }}" target="_blank">Read More</a>
        </mat-card-actions>
    </mat-card>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6" *ngFor="let newsItem of news">
            <div class="card m-3 news-card" data-toggle="modal" data-target="#buyportModel">
                <div class="card-body mt-3" style="cursor: pointer;" (click)="openNewsModal(newsItem.url)">
                    <div class="row p-2 align-items-center justify-content-center">
                        <div class="col-8 col-md-4">
                            <img class="card-img mx-auto d-block img-fluid rounded" src="{{ newsItem.image }}"
                            style="object-fit: cover; width: 100%; height: auto; max-height: 5rem;"  alt="News card" />
                        </div>
                        <div class="col-md-8 col-12  card-body py-auto">
                            <p class="m-0 truncate-text align-center text-center card-title"> {{newsItem.headline}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>