.modal-header {
  padding-top: 0;
  padding-bottom: 0;
}

.modal-content {
  border: none !important;
}

.share-container {
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  margin: 10px 0;
}

.share-icon {
  font-size: 2.5rem;
  color: #4267B2;
  margin-right: 0.5rem;
}

.details-text {
  color: grey;
}
