

<body class="d-flex flex-column min-vh-100">

  <!-- Navbar/Header -->
  <app-navbar></app-navbar>
  <!-- Main content -->
  <!-- <main class="flex-fill"> -->
    <!-- Page content goes here -->
    <router-outlet></router-outlet>
  <!-- </main> -->

  <!-- Footer -->
  <footer class="mt-auto fbackground">
    <div class="container footer">
      <span class="powered-text ">Powered by <a class="link" href="https://finnhub.io" target="_blank">Finnhub.io</a></span>
    </div>
  </footer>
<!-- 
   Include Bootstrap Bundle JS 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html> -->