<mat-tab-group>
    <mat-tab label="Summary">
        <ng-template matTabContent>
            <app-summary [stockInfo$]="stockInfo$" [isMarketOpen$]="isMarketOpen$"></app-summary>
        </ng-template>
    </mat-tab>
    <mat-tab label="Top News">
        <ng-template matTabContent>
            <app-top-news [stockInfo$]="stockInfo$" [isMarketOpen$]="isMarketOpen$"></app-top-news>
        </ng-template>
    </mat-tab>
    <mat-tab label="Charts">
        <ng-template matTabContent>
            <app-charts [stockInfo$]="stockInfo$" [isMarketOpen$]="isMarketOpen$"></app-charts>
        </ng-template>
    </mat-tab>
    <mat-tab label="Insights">
        <ng-template matTabContent>
            <app-insights [stockInfo$]="stockInfo$" [isMarketOpen$]="isMarketOpen$"></app-insights>
        </ng-template>
    </mat-tab>
</mat-tab-group>
<div>
</div>